@length-of-search: 250px;
@backgroundColorOfHeader: #1643D9;
@textHeaderColor: white;
@borderColor: #7C7C7E;
@articleColor: #B7C7D9;
@figureTextSize: 8pt;
@minutesAgoTextSize: 7pt;
@minutesAgoTextColor: grey;
@width-of-post: 450px;
@friendsTextSize: 10pt;
@textFrSize: 8pt;
@width-of-friends: 230px;
@height-of-friends: 53px;
@avatarTextSize: 9pt;